
@font-face {
  font-family: 'F-Grotesk-Thin';
  src: url('fonts/F-Grotesk-Thin.otf'),
      url('F-Grotesk-Thin.eot'),
      url('F-Grotesk-Thin.eot?#iefix') format('embedded-opentype'),
      url('F-Grotesk-Thin.woff2') format('woff2'),
      url('F-Grotesk-Thin.woff') format('woff'),
      url('F-Grotesk-Thin.svg#F-Grotesk-Thin') format('svg');
}


@font-face {
  font-family: 'f_grotesk_demi';
  src: url('fonts/f_grotesk_demi.otf'),
      url('f_grotesk_demi.eot'),
      url('f_grotesk_demi.eot?#iefix') format('embedded-opentype'),
      url('f_grotesk_demi.woff2') format('woff2'),
      url('f_grotesk_demi.woff') format('woff'),
      url('f_grotesk_demi.svg#f_grotesk_demi') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  margin: 0 auto;
  padding: 0 0 1rem;
  font-family:'F-Grotesk-Thin';
  overflow: auto;
  min-height: 100%;
  max-width: 100%;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  /* margin-top: 1rem;  */
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 1px;
  overflow: hidden;
  border-style: none none dotted none;
  color: rgba(108, 0, 170, 0.599);
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 1.2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



@media (max-width: 479px) {
  body {
    font-size: 1rem; 
    line-height: 160%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'f_grotesk_demi';
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
  }  

  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'f_grotesk_demi';
    font-size: 1.2rem;
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0.2rem;
    font-family:'f_grotesk_demi';
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

}

@media (min-width: 480px) {

  body {
    font-size: 1.1rem; 
    line-height: 160%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'f_grotesk_demi';
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.75rem;
  }
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'f_grotesk_demi';
    font-size: 1.3rem;
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    font-family:'f_grotesk_demi';
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}

@media (min-width: 900px) {

  body {
    font-size: 1.2rem; 
    line-height: 160%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 75%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'f_grotesk_demi';
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'f_grotesk_demi';
    font-size: 1.6rem;
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0.8rem;
    font-family:'f_grotesk_demi';
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

 img{
  width: 100%;
  margin: 1rem 0 0;
}

.container {
  padding: 3rem 1.5rem 0;
}

.container a:link {
  font-style: italic;
  color: black;
  text-decoration: none; 
  border-bottom: 1px solid rgb(139, 90, 217);
}

.container a:visited {
  color: rgb(139, 90, 217);
  border-bottom: 1px solid  rgb(139, 90, 217);
}

.container2 {
  padding-top: 3rem;
}

.accordion a:link {
  color: rgb(139, 90, 217);
  text-decoration: none; 
  background: white;
  border-bottom: 1px solid rgb(139, 90, 217);
}

.list a:link {
  display: inline-block;
  color: rgb(139, 90, 217);
  margin: 0.75rem 0.75rem 0.75rem 0;
  text-decoration: none; 
  background: white;
  border-bottom: 1px solid rgb(139, 90, 217);
}

.container2 a:visited {
  color: rgb(139, 90, 217);
  border: none;
}


body b {
  text-shadow: 0 0 0 #000;
}

svg {
  vertical-align: text-bottom;
}

.temp {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.temp img {
  max-width: 80%;
  height: auto;
}

.caption {
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
}

.nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  left:0;
  backdrop-filter: blur(10px);
}

.nav ul {
  background-color: rgb(255, 255, 255, 0.8);
  list-style-type: none;
  margin: 0 auto !important;
  display: flex;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.nav li {
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 100%;
  width: 49%;
}

.collapsible.active{
  background-color: #f0dfff;
  margin-bottom: 1rem;
}

.active {
  border-bottom: 2px solid black;
}

.active a{
  color: black;
  font-family: 'f_grotesk_demi';
}

.inactive a{
  color: black;
}

.nav a:link{
  text-decoration: none;
}

.download {
  display: inline-block;
  appearance: none !important;
  -webkit-appearance: none !important;
  padding: 0.5rem 0.75rem 0.5rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px  rgba(126, 83, 219, 0.4);
  margin: 0.5rem 0.5rem 0 0 !important;
}

.accordion {
  overflow: hidden;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  background-color: white;
  padding: 1rem 1.5rem 1rem;
  border-bottom: 1px rgba(75, 46, 135, 0.6) solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.collapsible a {
  float: left;
  padding-top: 1px;
}

.collapsible u {
  text-decoration: none;
}

.content {
  padding: 0 1.5rem 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  display: block;
  content: '\203A';
  font-size: 1.5rem;
  float: right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


button.active:after {
  content: "\2039";
  font-size: 1.5rem;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.list{
  position: absolute;
  z-index: 100;
  background-color: white;
  padding: 2rem 1.5rem 0;
}

.list ul{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.list li{
  display: none;
  /* transform: display 0.5s linear; */
  /* border-radius: 30px; */
  padding: 1.2rem 0 1.2rem;
  /* margin-bottom: 1rem; */
  border-bottom: dotted 1px black;
  /* box-shadow:0 0 3px  rgba(75, 75, 75, 0.8); */
}

.list a{
  margin-right: 8px;
}

.list img{
  max-height: 10vh;
  width: auto;
}
.filter {
  font-style: italic;
  margin-right: 1px;
  margin-bottom: 4px;
  padding: 0.2rem 1rem 0.2rem 0.8rem;
  border-radius: 30px;
  border: 1px solid grey;
  display: inline-block;
}

.tag {
  font-style: italic;
  margin-right: 1px;
  margin-bottom: 4px;
  padding: 0.2rem 1rem 0.2rem 0.8rem;
  border-radius: 30px;
  border: 1px solid grey;
  display: inline-block;
  background-color: #f6f6f6;
}

#filters {
  top: 0;
  text-align: center;
  padding: 1.5rem 0 1rem;
}

/* #filters > * {
} */
#shopping:checked ~ #filters label[for="shopping"],
#books:checked ~ #filters label[for="books"],
#culture:checked ~ #filters label[for="culture"],
#food:checked ~ #filters label[for="food"],
#art:checked ~ #filters  label[for="art"],
#nature:checked ~ #filters  label[for="nature"],
#museum:checked ~ #filters label[for="museum"] {
  background-color: rgba(255, 198, 119, 0.4);
}

#shopping:checked ~ ul li[data-shopping],
#nature:checked ~ ul li[data-nature],
#books:checked ~ ul li[data-books],
#culture:checked ~ ul li[data-culture],
#food:checked ~ ul li[data-food],
#art:checked ~ ul li[data-art],
#museum:checked ~ ul li[data-museum] {
  display: block;
}

.tags {
  padding-top: 1rem;
  position: relative;
}