
@font-face {
  font-family: 'LinguisticsPro-Regular';
  src: url('fonts/LinguisticsPro-Regular.otf'),
      url('LinguisticsPro-Regular.eot'),
      url('LinguisticsPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('LinguisticsPro-Regular.woff2') format('woff2'),
      url('LinguisticsPro-Regular.woff') format('woff'),
      url('LinguisticsPro-Regular.svg#LinguisticsPro-Regular') format('svg');
}

@font-face {
  font-family: 'LinguisticsPro-Bold';
  src: url('fonts/LinguisticsPro-Bold.otf'),
      url('LinguisticsPro-Bold.eot'),
      url('LinguisticsPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('LinguisticsPro-Bold.woff2') format('woff2'),
      url('LinguisticsPro-Bold.woff') format('woff'),
      url('LinguisticsPro-Bold.svg#LinguisticsPro-Bold') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  margin: 0 auto;
  padding: 0 0 1rem;
  font-family:'LinguisticsPro-Regular';
  overflow: auto;
  min-height: 100%;
  max-width: 100%;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  /* margin-top: 1rem;  */
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



@media (max-width: 479px) {
  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem; 
    line-height: 150%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
  }  
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.2rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.8rem;
  }

}

@media (min-width: 480px) {

  body {
    font-size: 1.1rem; 
    line-height: 150%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.3rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 2rem;
  }
}

@media (min-width: 900px) {

  body {
    font-size: 1.2rem; 
    line-height: 150%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 75%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.6rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 2.5rem;
  }
}

 img{
  width: 100%;
  margin: 1rem 0 0;
}

.container {
  padding-top: 4rem;
}

.container a:link {
  color: black;
  text-decoration: none; 
  border-bottom: 1px solid rgb(126, 83, 219);
}

.container a:visited {
  color: black;
  border-bottom: 1px solid  rgb(126, 83, 219);
}

.container2 {
  padding-top: 4rem;
}

.container2 a:link {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: black;
  text-decoration: none; 
  background: white;
  border-bottom: 1px solid rgb(126, 83, 219);
}

.container2 a:visited {
  color: black;
  background: rgb(235, 227, 255);
  border: none;
}


body b {
  text-shadow: 0 0 0 #000;
}

svg {
  vertical-align: text-bottom;
}

.temp {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.temp img {
  max-width: 80%;
  height: auto;
}

.caption {
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
}

.nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  left:0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  left: 1rem;
  padding: 1rem 1rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(3px);
  width: 100%;
}

.nav li {
  display: inline-block;
  padding: 8px 16px 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 100%;
}

.active{
  border-bottom: 2px solid black;
}

.active a{
  color: black;
}

.inactive a{
  color: rgb(106, 106, 106);
}

.nav a:link{
  text-decoration: none;
}

.download {
  background-color: white;
  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 8px 8px 8px;
  display: inline-block;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px  rgba(126, 83, 219, 0.4);
  margin-right: 8px;
}

.intro {
  margin-bottom: 2rem;
  overflow: hidden;
}


.collapse {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: white;
  padding: 0 0 0.5rem;
  margin: 0;
}

.collapse a {
  float: left;
  padding-top: 1px;
}

.content {
  overflow: hidden;
  height: 0;
}

.collapse:after {
  display: block;
  content: '\02795';
  font-size: 1rem;
  float: right;
  margin-left: 5px;
  margin-top: 0.2rem;
}

button.active:after {
  content: "\2796";
  font-size: 1rem;
}

.list ul{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  /* transition: display 0.5s linear; */
}

.list li{
  display: none;
  /* transform: display 0.5s linear; */
  /* border-radius: 30px; */
  padding: 1.2rem 0 1.2rem;
  /* margin-bottom: 1rem; */
  border-bottom: dotted 1px black;
  /* box-shadow:0 0 3px  rgba(75, 75, 75, 0.8); */
}

.list a{
  margin-right: 8px;
}

.filter {
  font-style: italic;
  margin-right: 1px;
  margin-bottom: 4px;
  padding: 0.2rem 1rem 0.2rem 0.8rem;
  border-radius: 30px;
  border: 1px solid grey;
  display: inline-block;
}

#filters {
  top: 0;
  text-align: center;
  padding: 1.5rem 0 1rem;
}

/* #filters > * {
} */
#shopping:checked ~ #filters label[for="shopping"],
#culture:checked ~ #filters label[for="culture"],
#busan:checked ~ #filters label[for="busan"],
#seoul:checked ~ #filters label[for="seoul"],
#food:checked ~ #filters label[for="food"],
#art:checked ~ #filters  label[for="art"],
#museum:checked ~ #filters label[for="museum"] {
  background-color: rgba(255, 198, 119, 0.4);
}
#shopping:checked ~ ul li[data-shopping],
#culture:checked ~ ul li[data-culture],
#busan:checked ~ ul li[data-busan],
#seoul:checked ~ ul li[data-seoul],
#food:checked ~ ul li[data-food],
#art:checked ~ ul li[data-art],
#museum:checked ~ ul li[data-museum] {
  display: block;
}

.tags {
  padding-top: 1rem;
  position: relative;
}