
@font-face {
  font-family: 'CartaNueva-Medium';
  src: url('fonts/CartaNueva-Medium.otf');
}

@font-face {
  font-family: 'LinguisticsPro-Regular';
  src: url('fonts/LinguisticsPro-Regular.otf'),
      url('LinguisticsPro-Regular.eot'),
      url('LinguisticsPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('LinguisticsPro-Regular.woff2') format('woff2'),
      url('LinguisticsPro-Regular.woff') format('woff'),
      url('LinguisticsPro-Regular.svg#LinguisticsPro-Regular') format('svg');
}

@font-face {
  font-family: 'LinguisticsPro-Bold';
  src: url('fonts/LinguisticsPro-Bold.otf'),
      url('LinguisticsPro-Bold.eot'),
      url('LinguisticsPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('LinguisticsPro-Bold.woff2') format('woff2'),
      url('LinguisticsPro-Bold.woff') format('woff'),
      url('LinguisticsPro-Bold.svg#LinguisticsPro-Bold') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  margin: 0 auto;
  padding: 0 0 1rem;
  font-family:'LinguisticsPro-Regular';
  overflow: auto;
  min-height: 100%;
  max-width: 100%;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 1rem; /* change this to whatever height you want it */
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 1.2rem;
  margin-block-end: 1.2rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1{
  font-family: 'CartaNueva-Medium';
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  font-weight: normal;
  line-height: 110%;
}


@media (max-width: 479px) {
  h1 {
    font-size: 4.2rem;
  }

  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem; 
    line-height: 150%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1rem;
  }  
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.2rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.6rem;
  }

}

@media (min-width: 480px) {
  h1 {
    font-size: 6rem;
  }
  body {
    font-size: 1.1rem; 
    line-height: 150%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.1rem;
  }
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.3rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 8rem;
  }
  body {
    font-size: 1.2rem; 
    line-height: 150%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 75%;
  }
  h6{
    margin-block-start: 0;
    margin-block-end: 4px;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.2rem;
  }
  
  h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 1.6rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:'LinguisticsPro-Bold';
    font-size: 2rem;
  }
}

.temp img{
  max-width: 75%;
}

.container {
  padding-top: 4rem;
}

.container a:link {
  color: black;
  text-decoration: none; 
  border-bottom: 1px solid rgb(126, 83, 219);
}

.container a:visited {
  color: black;
  border-bottom: 1px solid  rgb(126, 83, 219);
}

.container2 {
  padding-top: 4rem;
}

.container2 a:link {
  color: black;
  text-decoration: none; 
  background: white;
  border-bottom: 1px solid rgb(126, 83, 219);
}

.container2 a:visited {
  color: black;
  background: rgb(235, 227, 255);
  border: none;
}


body b {
  text-shadow: 0 0 0 #000;
}

svg {
  vertical-align: text-bottom;
}

.temp {
  display: inline-block;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  font-size: 0.9rem;
  line-height: 1.2rem;
  overflow: hidden;
}

.nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  left:0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  left: 1rem;
  padding: 1rem 1rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);
  width: 100%;
}

.nav li {
  display: inline-block;
  padding: 8px 16px 8px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 100%;
}

.active{
  border-bottom: 2px solid black;
}

.active a{
  color: black;
}

.inactive a{
  color: rgb(106, 106, 106);
}

.nav a:link{
  text-decoration: none;
}

.download {
  background-color: white;
  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 4px 2px 0;
  display: inline-block;
  height: 100%;
  line-height: 100%;
}
.intro {
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgb(209, 189, 255);
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Style the button that is used to open and close the collapsible content */
.collapse {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: white;
  padding: 8px 16px 8px;
  margin: 0;
}

.collapse a {
  float: left;
}

.content {
  padding: 0 1rem 0;
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
}

.collapse:after {
  content: '\02795';
  font-size: 1rem;
  float: right;
  margin-left: 5px;
  margin-top: 3px;
}

button.active:after {
  content: "\2796";
  font-size: 1rem;
}

.list ul{
  list-style-type: none;
  margin-block-start: 1rem;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}